@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:ital,wght@1,300&display=swap');



/* new code for style sheet */

* {
  box-sizing: border-box;  
}

br {
  padding:2px;
}
/* Style the body */
body {
  font-family: Montserrat, Open-Sans;
  margin: 0;
  background-color: grey;
}

h1,h2,h3,h4 {
  text-align:center;
}


/* Header/logo Title */
.header {
  padding: 20px;
  text-align: center;
  background: #1abc9c;
  color: white;
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;

}

/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
  border-radius: 10px;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.mobile-nav {
  background: #F1F1F1;
  position: fixed;
  bottom: 0;
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

/* Column container */
.row {  
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 25px;
  border-radius: 6px;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 30%;
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 10px;
}

/* Main column */
.main {   
  -ms-flex: 60%; 
  flex: 60%;
  background-color: white;
  padding: 20px;
  margin-left: 5px;
}

div {
  margin-bottom: 5px;
  border-radius: 10px;
}


/* image */
img {
  border-radius: 6px;
  position: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  width: 100%;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
    padding: 20px;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: top;
    width: 100%;
  }
}

