@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:ital,wght@1,300&display=swap');

h1, h2 {
    text-align: center;
} 

body {
    background-color:whitesmoke;
    font-family: Montserrar, Open sans;
}

div {
    padding: 100px;
    border: 2px solid grey;
    border-radius: 6px;
    position: absolute;
    
}

img {
    border-radius: 6%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  