h1 {
    text-align: center;
}
.column1 {
    column-count: 2;
    column-width: auto;
}

body {
    background-color:whitesmoke
}

    div {
    position: center;
}

img {
    border-radius: 4%;
}

nav {
    text-align: center;
    height: 30px;
    font-size: 20px;
    margin: 20px;
    position: absolute;
} 